<div class="recipe-card">
    <img class="recipe-image" [src]="recipe()?.imgUrl" alt="{{ recipe()?.name }}" />
  
    <div class="recipe-content">
      <h2 class="recipe-name">
        @if (recipe()?.isFavorite) { <span class="favorite-icon">❤️</span> }
        {{ recipe()?.name }}
      </h2>
      <p class="recipe-description">{{ recipe()?.description }}</p>
  
      <div class="servings-control">
        <button (click)="decreaseServings()">-</button>
        <span>份量: {{ servings() }}</span>
        <button (click)="increaseServings()">+</button>
      </div>
  
      <ul class="ingredients-list">
        @for (item of ingredients(); track $index) {
          <li>{{ item.name }} : {{ item.quantity }} {{ item.unit }}</li>
        }
    </ul>
    </div>
  </div>
  