<mat-card class="user-card">
  <img mat-card-image [src]="recipe()?.imgUrl" alt="{{ recipe()?.name }}" />
  <mat-card-header>
    <mat-card-title>
      @if (recipe()?.isFavorite) { <span class="favorite-icon">❤️</span> }
        {{ recipe()?.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ recipe()?.description }}
    </mat-card-subtitle>
  </mat-card-header>
    
  
    
  <mat-card-content>
      <div class="servings-control">
        <button mat-icon-button (click)="decreaseServings()">-</button>
        <span>份量: {{ servings() }}</span>
        <button mat-icon-button color="primary" (click)="increaseServings()">+</button>
      </div>
      
        <ul class="ingredients-list">
          @for (item of ingredients(); track $index) {
            <li>{{ item.name }} : {{ item.quantity }} {{ item.unit }}</li>
          }
      </ul>

      </mat-card-content>
  
      
    </mat-card>
  
  